<h2>Hello , Welcome to The Gun Forum</h2>

<% @posts.each do |p| %>
	<%= link_to p.title , p%>
	<%= time_ago_in_words(p.created_at) %>
	<br>
	<br>
	<br>
<%end%>	




<%= link_to 'New Post' ,new_post_path %>